* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* --- Start Kopfzeile Mobile --- */

#nav-top {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #e5d9b6;
    border-bottom: 2px solid #285430;
    .logo {
        padding-left: 10vw;
        float: left;
        img {
            height: 100px;
            width: auto;
        }
    }
    #nav-top-trigger {
        display: none;
        &:checked {
            ~ .nav-top-trigger {
                em {
                    background-color: transparent;
                    transition: background-color 0.5s;
                    &::before {
                        transform: rotate(-135deg);
                        transition: transform 0.5s;
                    }
                    &::after {
                        transform: rotate(135deg);
                        transition: transform 0.5s;
                    }
                }
            }
            ~ .menu {
                opacity: 1;
                pointer-events: auto;
                transition: opacity 0.5s;
            }
        }
    }
    .nav-top-trigger {
        float: right;
        height: 80px;
        em {
            display: block;
            width: 28px;
            height: 2px;
            background-color: #333333;
            margin: 38px 10px;
            position: relative;
            transition: background-color 0.5s;
            &::before, &::after {
                content: "";
                display: block;
                width: 28px;
                height: 2px;
                background-color: #333333;
                position: absolute;
                left: 0;
                transition: transform 0.5s;
            }
            &::before {
                transform: translateY(8px);
            }
            &::after {
                transform: translateY(-8px);
            }
        }
    }
    .menu {
        z-index: 200;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #e5d9b6;
        margin: 0;
        max-height: calc(100vh - 80px);
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;
        > li {
            border-top: 2px solid #285430;
            &:last-child {
                border-bottom: 2px solid #285430;
            }
            a {
                display: block;
                color: #285430;
                text-align: center;
                padding: 10px 0;
                text-decoration: none;
            }
        }
    }
    .sub-menu {
        display: none;
    }
    .menu,
    .sub-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }
}

/* --- Ende Kopfzeile Mobile --- */

/* --- Start Nav Breakpoint Kopfzeile --- */

@media only screen and (min-width: 992px) {
    #nav-top {
        .nav-top-trigger {
            display: none;
        }
        .menu {
            z-index: 200;
            position: static;
            margin-right: 10vw;
            float: right;
            display: block;
            font-size: 150%;
            opacity: 1;
            line-height: 100px;
            background-color: transparent;
            overflow: visible;
            pointer-events: auto;
            > li {
                float: left;
                border-bottom: none;
                height: 100px;
                position: relative;
                padding-left: 30px;
                border: none;
                &:last-child {
                    border: none;
                }
            }
            li {
                a {
                    padding: 0;
                    float: left;
                    transition: margin-top 0.5s ease;
                    &:hover {
                        margin-top: 10px;
                    }
                }

                &:hover .sub-menu{
                    display: block;
                }
            }
        }
        .sub-menu {
            z-index: 200;
            display: block;
            position: absolute;
            top: 100%;
            font-size: 80%;
            border-bottom: 2px solid #285430;
            border-right: 2px solid #285430;
            border-left: 2px solid #285430;
            right: -150px;
            height: 100px;
            width: 600px;
            background-color: #e5d9b6;
            display: none;
            li {
                a {
                    padding-left: 30px;
                }
            }
        }
    }
}
/* --- Ende Nav Breakpoint Kopfzeile --- */

/* ----  Start Bildfolge ---- */

@keyframes reihe1 {
    0% {
        z-index: 10;
    }
    50% {
        z-index: 8;
    }
    100% {
        z-index: 8;
    }
}
@keyframes reihe2 {
    0% {
        z-index: 8;
    }
    50% {
        z-index: 10;
    }
    100% {
        z-index: 8;
    }
}
@keyframes reihe3 {
    0% {
        z-index: 8;
    }
    50% {
        z-index: 8;
    }
    100% {
        z-index: 10;
    }
}
.bildfolge {
    height: 700px;
}


.bild {
    width: 100vw;
    height: 700px;
    position: absolute;
    right: 0px
}
.b1 {
    animation: reihe1 20s infinite linear;
}
.b2 {
    animation: reihe2 20s infinite linear;
}
.b3 {
    animation: reihe3 20s infinite linear;
}

.bildfolge_ueberschrift {
    color: white;
    z-index: 100;
    position: absolute;
    left: 10%;
    top: 200px;
    font-size: 300%;
}

.beide_box {
    z-index: 100;
    position: absolute;
    margin-left: 10%;
    top: 600px;
}

.btn_kontakt {
    z-index: 100;
    border: 2px solid #E5d9b6;
    width: 200px;
    height: 100px;
    background-color: #5f8d4e;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 150%;
    &:hover {
        background-color: rgba(40, 84, 48, 0.7);
    }
}
.btn_produkte {
    z-index: 100;
    margin-left: 30px;
    border: 2px solid #E5d9b6;
    width: 200px;
    height: 100px;
    background-color: #5f8d4e;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 150%;
    &:hover {
        background-color: rgba(40, 84, 48, 0.7);
    }
}

/* ----  Ende Bildfolge ---- */

/* ----  Start Nachhaltigkeit ---- */

.nachhaltigkeit {
    background-color: #E5d9b6;
    border-top: 2px solid #285430;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 10%;

    .nach_box {
        text-align: center;
        width: 10vw;
        i {
            font-size: 350%;
            color: #285430;
        }
        p {
            margin-top: 20px;
            font-size: 120%;
        }
    }

}
@media only screen and (max-width:992px) {
    .nachhaltigkeit {
        padding: 50px 10%;
        .nach_box {
            p {
                font-size: 110%;
            }
        }
    }
}
/* ----  Ende Nachhaltigkeit ---- */


/* ----  Start Beispielprodukte ---- */



.beispiele {
    height: 600px;
    background-color: #E5d9b6;
    padding-top: 50px;
    border-top: 2px solid #285430;
}
.beispiele_ueberschrift {
    font-size: 200%;
    color: #285430;
    text-align: center;
}
.alle_beispiele {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    a {
        text-decoration: none;
    }
}
.beispiel_produkt {
    margin-top: 50px;
    img {
        height: 280px;
        width: 350px;
    }
}
.beschreibung {
    
    width: 350px;
    height: 60px;
    padding: 5px;
    background-color: #5f8d4e;
    text-align: center;
    color: antiquewhite;
    font-size: 120%;
}
@media only screen and (max-width:992px) {
    .beispiele {
        height: 1300px;
        .alle_beispiele {
            display: block;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .beispiel_produkt {
                margin-right: 30px;
            }
    
        }
    }

}

/* ----  Ende Beispielprodukte ---- */


/* ----  Start Newsletter ---- */

.newsletter {
    border-top: 2px solid #285430;
    border-bottom: 2px solid #285430;
    background-color: #E5d9b6;
    padding: 50px 10vw;
    .form {
        background-color: #a4be7b;
        border: 3px solid #285430;
        padding: 30px;
        h2 {
            font-size: 180%;
            color: #285430;
            margin-bottom: 20px;
        }
        p {
            margin: 20px 0;
        }
        a {
            color: black;
            font-style: italic;
        }
        .mail {
            margin-top: 20px;

        }
        .btn_box {
            display: flex;
            justify-content: center;
            .btn_news {
                margin-top: 30px;
                border: 3px solid #285430;
                background-color: #285430;
                width: 30vw;
                height: 50px;
                color: #E5d9b6;
                font-size: 150%;
                font-weight: bold;
                border-radius: 50px;
                &:hover {
                    background-color: #5f8d4e;
                }
            }
        }
        
    }
    input[type=text] {
        width: 35vw;
        height: 30px;
        font-size: 100%;
        background-color: #E5d9b6;
    }

}

/* ----  Ende Newsletter ---- */

/* ----  Start Fusszeile ---- */

footer {
    background-color: #E5d9b6;
    height: 100px;
    display: flex;
    justify-content: space-around;
    line-height: 100px;
    .impressum {
        >* {
            float: left;
            padding-right: 20px;
            text-decoration: none;
            color: #285430;
            font-size: 110%;
        }
    }
    .socialmedia {
        a {
            padding-right: 20px;
            font-size: 180%;
            color: #285430;
        }
    }
}

/* ----  Ende Fusszeile ---- */
